@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Work Sans;
}

.btn{
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
}

#hero{
    color: white;
    height: 742px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(180.00deg, rgb(10, 20, 30) -19.5%,rgba(16, 16, 16, 0) 100%),url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 700px;
}

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .8;
    margin-bottom: 20px;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .8;
    margin-bottom: 20px;
}

#card-box{
    margin: 50px 50px 50px 50px;
}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8
}

.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .shop{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 4px 6px 5px 6px;
}


